<h1>Editar Usuário</h1>
<%= form_with model: @usuario, url: usuario_path(@usuario), method: :patch do |f| %>
  <% if @usuario.errors.any? %>
    <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :password, "Nova senha (deixe em branco para não alterar)" %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div>
    <%= f.label :password_confirmation, "Confirmar nova senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div>
    <label>Papel</label>
    <%= select_tag :papel_id, options_from_collection_for_select(@papeis, :id, :nome, @usuario.papeis.first&.id) %>
  </div>
  <%= f.submit "Atualizar" %>
<% end %>
<%= link_to "Voltar", usuario_path(@usuario) %>